.dashboard__empty-state{
	width: 100%;
    margin: auto;
    margin-top: 80px;
    text-align: center;
}

.dashboard__addNew{
	width: 100%;
	text-align: right;
}

.dashboard__empty-state p{
	margin-bottom: 16px;
}
.dashbard__add-new >div{
	margin-top: 16px;
}

.dashboard__add-new-actions{
	display: flex;
	flex-direction: column;
}
.dashboard__add-new-actions button{
margin-top:16px;
}