.text-input{
	display: flex;
	flex-direction: column;
}
.text-input label{
font-weight: 400;
font-size: 20px;
margin-bottom: 8px;
}
.text-input input{
	border: 1px solid var(--darkBlack);
	border-radius: 6px;
	font-size: 16px;
	font-weight: 400;
	font-family: var(--font-family);
	padding:8px;
	color:var(--lightGrey);

}